<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    {% block title %}About us - {% endblock %}
</head>
<body>
{% block content %}
<main>
    <h1>Page about us</h1>
    <article>
        <h2>Our products</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum mollitia necessitatibus nesciunt non officia.
            Accusamus praesentium saepe sunt. Ad animi, asperiores dicta dolore dolores doloribus dolorum ea enim error
            exercitationem id in laudantium maiores neque perspiciatis placeat quae quasi qui quibusdam quis quo
            repellendus
            reprehenderit tempora vel voluptas. Ab neque quae repellat. Accusamus autem doloremque facere porro qui
            sunt.
            Aliquam commodi consectetur, debitis ducimus excepturi fugit ipsam ipsum iste odit officia porro quibusdam
            quisquam totam unde voluptate. Ab corporis dicta dolor inventore nihil recusandae temporibus. Corporis
            dignissimos inventore ipsa odio tenetur. A eius error ipsam maxime neque repudiandae sint ut.</p>
    </article>
</main>
{% endblock %}

</body>
</html>